.pet-container
  max-width: 90vw
  margin: auto
  display: flex
  flex-direction: column
  text-align: center
  justify-content: space-around
  align-items: center

.pet-container h2
  margin-bottom: 1rem
  margin-top: 1rem

.pet-attributes-container
  display: flex
  flex-direction: row
  gap: 2rem

.pet-image-container
  position: relative
  width: 600px
  height: 500px
  overflow: hidden
  justify-self: center
  align-self: flex-end

.pet-image-container img
  object-fit: scale-down

.pet-image-container
  @media only screen and (max-width: 600px)
    width: 300px
    height: 300px

.pet-text-attributes
  text-align: inherit
  justify-self: center
  align-self: center

.blank-image
  width: 300px
  height: 300px
  display: flex
  justify-content: center
  align-items: center

.image-nav-buttons
  position: absolute
  display: flex
  align-items: center
  justify-content: space-between
  inset: 0

.pet-description h4
  margin: 1rem 0
