<ng-container *ngIf="(petListData$ | async) as petListData">
  <app-pet-search-header
    [petTypePlural]="petTypePlural"
    [zipcode]="petSearchParams.location"
    [numberOfPets]="petListData.data?.pagination?.total_count ?? 0"/>
  <app-pet-search-filter-list
    [initSelectedSortValue]="initialSortValue"
    [initSelectedDistanceValue]="initialDistanceValue"
    [isLoading]="petListData.isLoading"
  />
  <app-pet-search-list></app-pet-search-list>
  <app-pet-search-pagination></app-pet-search-pagination>
</ng-container>
