<mat-card
  *ngIf="hasImages(); else emptyImage"
>
  <div
    class="pet-image-container"
  >
    <img
      [src]="photoUrl[imageIndex].full"
      [alt]="name"
      sizes="500px"
    />
    <menu class="image-next-prev-buttons">
      <li>
        <button mat-mini-fab color="primary" aria-label="Previous Image" (click)="handlePreviousImage()">
          <mat-icon fontIcon="navigate_before"/>
        </button>
      </li>
      <li>
        <button mat-mini-fab color="primary" aria-label="Next Image" (click)="handleNextImage()">
          <mat-icon fontIcon="navigate_next"/>
        </button>
      </li>
    </menu>
    <menu class="navigation-dot-buttons" *ngIf="hasMultipleImages()">
      <li *ngFor="let _ of navigationDots; index as i">
        <button mat-icon-button color="primary" (click)="handleImageNavigation(i)">
          <mat-icon [fontIcon]="getImageNavIconName(i)"/>
          <span class="cdk-visually-hidden">View image {{ i + 1 }}</span>
        </button>
      </li>
    </menu>
  </div>
</mat-card>
<ng-template #emptyImage>
  <div class="empty-image">
    <mat-card>
      <mat-icon fontIcon="hide_image" aria-hidden="false" aria-label="Empty Image"/>
    </mat-card>
  </div>
</ng-template>
