.pet-image-container
  position: relative
  width: 600px
  height: 500px
  overflow: hidden
  display: flex
  justify-content: center

.pet-image-container img
  object-fit: scale-down

.blank-image
  width: 300px
  height: 300px
  display: flex
  justify-content: center
  align-items: center

.image-nav-buttons
  position: absolute
  display: flex
  align-items: center
  justify-content: space-between
  inset: 0
  font-size: 2rem
  margin: 0 6px

.nav-dot-buttons
  position: absolute
  right: 0
  left: 0
  bottom: 1rem
  display: flex
  align-items: center
  justify-content: center

.nav-dot-buttons menu
  display: flex
  list-style: none
