<h2 mat-dialog-title class="dialog-title">New Zip Code</h2>
<form [formGroup]="zipcodeForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Zip Code</mat-label>
      <input
        id="zipcode"
        formControlName="zipcode"
        matInput type="text"
        minlength="5"
        maxlength="5"
        autocomplete="postal-code"
        required
      />
      <mat-icon matSuffix fontIcon="location_on" color="primary"></mat-icon>
      <mat-hint *ngIf="zipcodeForm.invalid">Enter a 5 digit zip code.</mat-hint>
      <mat-error *ngIf="zipcodeForm.invalid">
        Please enter a valid 5 digit zip code.
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button type="button" color="accent" (click)="onCancel()">Cancel</button>
    <button mat-button type="submit" color="primary" [disabled]="zipcodeForm.invalid">Submit</button>
  </mat-dialog-actions>
</form>
