$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$primary-light-theme-palette: (
  50: #e0f2f0,
  100: #b3e0d9,
  200: #80cbc0,
  300: #4db6a6,
  400: #26a693,
  500: #009680,
  600: #008e78,
  700: #00836d,
  800: #007963,
  900: #006850,
  A100: #97ffe3,
  A200: #64ffd5,
  A400: #31ffc7,
  A700: #18ffc0,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
$primary-dark-theme-palette: (
  50 : #f6fbfa,
  100 : #e8f5f3,
  200 : #d9efeb,
  300 : #c9e9e3,
  400 : #bee4dd,
  500 : #b2dfd7,
  600 : #abdbd3,
  700 : #a2d7cd,
  800 : #99d2c7,
  900 : #8acabe,
  A100 : $light-primary-text,
  A200 : $light-primary-text,
  A400 : #f6fffd,
  A700 : #dcfff8,

  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);
$secondary-light-theme-palette: (
  50: #f8e4e6,
  100: #edbcc0,
  200: #e19096,
  300: #d5646c,
  400: #cc424d,
  500: #c3212d,
  600: #bd1d28,
  700: #b51822,
  800: #ae141c,
  900: #a10b11,
  A100: #ffcfd0,
  A200: #ff9c9e,
  A400: #ff696c,
  A700: #ff4f53,

  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$secondary-dark-theme-palette: (
  50 : #fef8f9,
  100 : #fbeef0,
  200 : #f9e3e6,
  300 : #f7d7db,
  400 : #f5cfd4,
  500 : #f3c6cc,
  600 : #f1c0c7,
  700 : #efb9c0,
  800 : #edb1b9,
  900 : #eaa4ad,
  A100 : $light-primary-text,
  A200 : $light-primary-text,
  A400 : $light-primary-text,
  A700 : $light-primary-text,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $dark-primary-text,
    500 : $dark-primary-text,
    600 : $dark-primary-text,
    700 : $dark-primary-text,
    800 : $dark-primary-text,
    900 : $dark-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $dark-primary-text,
  )
);

