@use '@angular/material' as mat;

@mixin set_theme($theme){
  mat-toolbar {
    @if(mat.get-theme-type($theme) == light){
      background: mat.get-theme-color($theme, primary, 60);
    }
  }
  mat-paginator {
    color: mat.get-theme-color($theme, primary);
  }
  .mat-mdc-paginator-icon {
    fill: mat.get-theme-color($theme, primary) !important;
  }
  .icon-color {
    color: mat.get-theme-color($theme, primary);
  }
  .nav-dot-color {
    color: mat.get-theme-color($theme, tertiary-container);
  }
  .accent-button{
    @include mat.button-color($theme, $color-variant: tertiary);
  }
  .pet-selection-card {
    @include mat.elevation-transition();
    @include mat.elevation(5);
    border-radius: 30px;
    border-style: solid;
    border-color: transparent;
    border-width: 4px;
    &:hover {
      border-color: mat.get-theme-color($theme, primary);
      @include mat.elevation(10);
    }
  }
  .pet-search-card {
    @include mat.elevation(10);
    border-width: 0 0 3px 0;
    border-color: transparent;
    &:hover {
      border-color: mat.get-theme-color($theme, primary);
      color: mat.get-theme-color($theme, primary);
      opacity: 0.92;
    }
  }
  .nav-icon-color {
    @if(mat.get-theme-type($theme) == dark){
      color: mat.get-theme-color($theme, primary);
    }@else{
      color: mat.get-theme-color($theme, surface);
    }
  }
}
