// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "app/styles/custom_component";
@use '@angular/material' as mat;
@use "app/styles/pet-search-theme";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$pet-search-light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: pet-search-theme.$primary_palette,
    tertiary: pet-search-theme.$tertiary_palette,
  )
));
$pet-search-dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: pet-search-theme.$primary_palette,
    tertiary: pet-search-theme.$tertiary_palette,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
$pet-search-typography: mat.define-typography();
@include mat.typography-hierarchy($pet-search-typography);

mat.$theme-ignore-duplication-warnings: true;


.theme-dark {
  @include mat.all-component-themes($pet-search-dark-theme);
  @include custom_component.set_theme($pet-search-dark-theme)
}

.theme-light {
  @include mat.all-component-themes($pet-search-light-theme);
  @include custom_component.set_theme($pet-search-light-theme)
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
