a
  color: inherit
  text-decoration: inherit

.pet-card
  max-width: 300px
  text-align: center

.pet-card:hover
  opacity: 0.92

.mat-card
  border-width: 0 0 2px 0
  border-color: transparent

.pet-card:hover .mat-card
  border-color: #009680

.image-container
  width: 300px
  height: 300px
  overflow: hidden
  display: flex
  justify-content: center

.image-container img
  object-fit: cover

.pet-card .mat-icon
  height: 300px
  width: 300px
  font-size: 300px
  line-height: 300px

.card-heading
  padding: 0 1rem
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.pet-card:hover .card-heading
  text-decoration: underline
  color: #009680
