<li tabindex="0">
  <ng-container
    *ngIf="pet"
  >
    <a (click)="cachePetDetails(pet)"
       [routerLink]="['/', ROUTER_TOKENS.PETS, pet.id]"
       [state]="{fromSearchRoute: true}"
    >
      <mat-card class="mat-card pet-search-card">
        <div class="image-container">
          <img
            *ngIf="petImageUrl; else displayPetIcon"
            mat-card-image
            [src]="petImageUrl"
            [alt]="pet.name"
            loading="lazy"
            decoding="async"
          >
          <ng-template #displayPetIcon>
            <div class="mat-icon">
              <app-pet-icon [petType]="pet.type"/>
            </div>
          </ng-template>
        </div>
        <h6 class="mat-headline-5 card-heading">{{ pet.name }}</h6>
        <p class="card-description mat-body-1">
          {{ pet.age }} {{ pet.gender }}
          <br/>
          {{ pet.distance | number: '.1-1' | distanceDescription }}
        </p>
      </mat-card>
    </a>
  </ng-container>
</li>
